<!DOCTYPE html>
<html>
<head>
<title>JMetal</title>
	<link rel="stylesheet" href="css/bootstrapCSS.css">
	<link rel="stylesheet" href="css/experimentPage.css">
	<script type="text/javascript" src="js/experiment.js"></script>
</head>
<body id="selectExperimentPage">

	{{>header}}

	<div class="container" id="experimemtHtml">
		<h1>Configure your experiment</h1>

		<form action="experimentResultPage" method="post" id="experimentForm">
			<div class="form-group">
				<select id="selectAlgorithm" name="algorithm" class="custom-select" required>
					<option selected>Select algorithm</option>
					<option value="GENERATIONAL">Generational</option>
					<option value="STEADY_STATE">Steady state</option>
				</select>
			</div>
			<div class="form-group">
				<select id="selectProblem" name="problem" class="custom-select" required>
					<option selected >Select problem</option>
					<option value="OneMax">One max</option>
				</select>
			</div>
			<div class="form-group">
				<select id="selectCrossoverOperator" name="crossover" class="custom-select" required>
					<option selected>Select crossover operator</option>
					<option value="SinglePointCrossover">Single point crossover</option>
				</select>
			</div>
			<div class="form-group">
				<select id="selectMutationOperator" name="mutation" class="custom-select" required>
					<option selected>Select mutation operator</option>
					<option value="BitFlipMutation">Bit flip mutation</option>
				</select>
			</div>
			<div class="form-group">
				<select id="selectSelectionOperator" name="selectionOperator" class="custom-select" required>
					<option selected>Select selection operator</option>
					<option value="BinaryTournamentSelection">Binary tournament selection</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-12"></div>
				<div class="col-md-4">
					<div class="form-group">
		            	<label for="maxPopulation">Max population:</label>
		                <input class="form-control" id="selectMaxPopulation" name="maxPopulation" placeholder="Number of max population" type="number" value="250" required="required">
		             </div>
            	</div>
            	<div class="col-md-4">
					<div class="form-group">
		             	<label for="maxEvaluations">Max evaluations:</label>
		                <input class="form-control" id="selectMaxEvaluations" name="maxEvaluations" placeholder="Number of max evaluations" type="number" value="1000" required="required">
		             </div>
            	</div>
            	<div class="col-md-4">
		             <div class="form-group">
		             	<label for="numberOfBits">Number of bits:</label>
		                <input class="form-control" id="selectSpecificProblemValue" name="specificProblemValue" placeholder="Specific problem value" type="number" value="64" required="required">
		             </div>
            	</div>
		            
	            <div class="col-md-12 form-group text-center">
	            	<label for="submit"></label>
	            	<input id="submit" class="btn btn-outline-secondary" type="submit" value="Submit"/>
	            </div>
             </div>
		</form>

	</div>

</body>
</html>