<!DOCTYPE html>
<html>
<head>
<title>jMetal</title>
	<link rel="stylesheet" href="css/bootstrapCSS.css">
	<link rel="stylesheet" href="css/experimentPage.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/experiment.js"></script>
</head>
<body id="selectExperimentPage">

	{{>header}}

	<div class="container" id="experimemtHtml">
		<h1>Configure your experiment</h1>
		<div class="row">
		<div class="col-md-12">
			<form action="experimentResultPage" method="post" id="experimentForm">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="experimentName">Experiment name:</label>
						<input class="form-control" id=experimentName name="experimentName" placeholder="Experiment name" type="text" required="required">
		        	</div>
            	</div>			           
	        	<div class="col-md-6">
		        	<label for="numberOfRepetition">Number of repetition:</label>
		        	<input class="form-control" id="numberOfRepetition" name="numberOfRepetition" placeholder="Number of repetition" type="text" value="1" min="1" required="required">
	        	</div>
             </div>
			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<label for="selectproblem">Select problem:</label>
						<select id="selectProblem" name="problem" class="custom-select" onchange="getAlgorithms()" required>
							<option selected>Select problem</option>
						</select>
						<p id="problemDescription"></p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group" id="problemParams">
					</div>
					<div class="form-group" id="TSPsSelection">
						<select id="TSPs" name="distanceFile" class="custom-select" required="required">
						<option>none</option>
						</select>
						<div class="form-group pt-3">
							<a id="setTSPs" class="btn btn-outline-secondary"
							 href="/getTSPPage" >Add new TSP file</a>
						</div>
					</div>
		        </div>
		       </div>
				<div class="row" id ="algorithms">
					<div class="col-md-9">
						<div class="form-group">
							<label for="selectproblem">Select algorithm:</label>
							<select id="selectAlgorithm" name="algorithm" class="custom-select" onchange="setAlgorithmParams()" required>
								<option selected>Select algorithm</option>
							</select>
							<p id="algorithmDescription"></p>
						</div>
					</div>
				</div>
			
				<div class="row" id="crossoverOperator">
					<div class="col-md-9">
						<div class="form-group">
							<label for="selectCrossoverOperator">Select crossover:</label>
							<select id="selectCrossoverOperator" name="crossover" class="custom-select" onchange="setCrossoverParams()" required>
								<option selected>Select crossover operator</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group" id="crossoverParams">
						</div>
		        	</div>
				</div>
				
				<div class="row" id="mutationOperator">
					<div class="col-md-9">
						<div class="form-group">
							<label for="selectMutationOperator">Select mutation:</label>
							<select id="selectMutationOperator" name="mutation" class="custom-select" onchange="setMutationParams()" required>
								<option selected>Select mutation operator</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group" id="mutationParams">
						</div>
		        	</div>
				</div>
				
				<div class="row" id="selectionOperator">
					<div class="col-md-9">
						<div class="form-group">
							<label for="selectSelectionOperator">Select selection:</label>
							<select id="selectSelectionOperator" name="selectionOperator" class="custom-select" onchange="setSelectionParams()" required>
								<option selected>Select selection operator</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group" id="selectionParams">
						</div>
		        	</div>
				</div>
				
				<div class="row">
					<div class="col-md-12"></div>
						<div class="col-md-8">
							<div class="form-group" id="algorithmParams">
				        </div>
	            	</div>			           
	             </div>
	             
				<div class="col-md-12 form-group text-center">
	            	<label for="submit"></label>
	            	<input id="submit" class="btn btn-outline-secondary" type="submit" value="Submit"/>
	            </div>
			</form>
		</div>
		</div>
	</div>

</body>
</html>
