<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>jMetal</title>
	<link rel="stylesheet" href="css/bootstrapCSS.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   	<script src="js/highcharts.js"></script> 
 	<script src="js/jquery.min.js"></script> 
 	<script src="js/charts.js"></script> 
	
</head>
<body id="">
	
	{{>header}}
	<ul class="list-group list-group-horizontal">
	  <li class="list-group-item">Experiment name:	"{{experimentName}}"</li>
	  <li  class="list-group-item">Repetitions:	"{{numberOfRepetition}}"</li>
	  <li  class="list-group-item">Problem selected:	"{{selectedProblem}}"</li>
	  {{#problemParameters}}
			<li class="list-group-item">Problem parameter:	"{{.}}"</li>
		{{/problemParameters}}
	</ul>
	
	<ul class="list-group list-group-horizontal">
	  <li class="list-group-item">Algorithm selected:	"{{selectedAlgorithm}}"</li>
	  {{#algorithmParameters}}
			<li class="list-group-item">Algorithm parameter:	"{{.}}"</li>
		{{/algorithmParameters}}
	</ul>
	
	<ul style="margin-top: 7px;" class="list-group list-group-horizontal">
	  <li class="list-group-item">Selected crossover operator:	"{{selectedCrossover}}"</li>
	  {{#crossoverParameters}}
			<li class="list-group-item">Crossover parameter:	"{{.}}"</li>
		{{/crossoverParameters}}
	</ul>
	
	<ul style="margin-top: 7px;" class="list-group list-group-horizontal">
	  <li class="list-group-item">Selected mutation operator:		"{{selectedMutation}}"</li>
	  {{#mutationParameters}}
			<li class="list-group-item">Mutation parameters:	"{{.}}"</li>
		{{/mutationParameters}}
	</ul>
	
	<ul style="margin-top: 7px;" class="list-group list-group-horizontal">
	  <li class="list-group-item">Selected selection operator:	"{{selectedSelectionOperator}}"</li>
	  {{#selectionParameters}}
			<li class="list-group-item">Selection parameters:	"{{.}}"</li>
		{{/selectionParameters}}
	</ul>
	<div class="col-md-12" style="margin-top: 7px;" id="showResult"> 
		<ul class="list-group list-group-horizontal">
			<li class="list-group-item">The final result:</li>
			<li id="finalResultLi" class="list-group-item"><p id="finalResult"></p>	</li>
		</ul>
		
	</div>
	<div class="col text-center">
		<button style="margin-top: 5px; margin-right: auto; margin-left: auto;" id="showAllResult" class="btn btn-outline-secondary" onclick="drawFullChart();">Show all populations and pilots</button>
	</div>
	
	<div class="col-md-12 wow fadeInUp">
		<div class="interactions-col" id="allResultsGrafics" style="padding-top: 5px; padding-bottom: 10px;padding-right:20px; position: relative; width: 100%;">
		
		</div>
		<div class="interactions-col">
			<div style="padding-top: 5px; padding-bottom: 10px;padding-right:20px; position: relative; width: 100%;" id="resultsGrafics"></div>
			
		</div>
	</div>
	
	
</body>

</html>